html, body {
    overflow: hidden;
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    font-family: 'Avenir Next W00','Helvetica Neue',Helvetica,Arial,sans-serif;
}

#map {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

#test {
    position: absolute;
    top: 0;
    left: 100px;
}
